APT {
    FTPArchive {
        Release {
            Origin "A peervpn binary repo";
            Label "Peervpn";
            Suite "stable";
            Version "{{ peervpn_deb_version }}";
            Codename "stable";
            Architectures "amd64";
            Components "main";
            Description "A peervpn binary repo tested by klimblinton"
        };
    };
};