Package: peervpn
Version: {{ peervpn.deb.version }}
Maintainer: {{ peervpn.deb.maintainer }}
Depends: {{ peervpn.deb.depends }}
Architecture: amd64
Homepage: https://github.com/peervpn/peervpn
Description: A simple vpn point-to-point server
