Package: peervpn
Version: {{ peervpn_deb_version }}
Maintainer: {{ peervpn_deb_maintainer }}
Depends: {{ peervpn_deb_depends }}
Architecture: amd64
Homepage: https://github.com/peervpn/peervpn
Description: A simple vpn point-to-point server
